<table>
    <tr>
        <td>
            {{ 'Name'|trans }}
        </td>
        <td>
            {{ user.name }}
        </td>
    </tr>
    <tr>
        <td>
            {{ 'email'|trans }}
        </td>
        <td>
            {{ user.email }}
        </td>
    </tr>
    <tr>
        <td>
            {{ 'liste number'|trans }}
        </td>
        <td>
            {{ user.getNbListe }}
        </td>
    </tr>
</table>