{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modelentities list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for modelEntity in modelEntities %}
            <tr>
                <td><a href="{{ path('modelentity_show', { 'id': modelEntity.id }) }}">{{ modelEntity.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('modelentity_show', { 'id': modelEntity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('modelentity_edit', { 'id': modelEntity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('modelentity_new') }}">Create a new modelEntity</a>
        </li>
    </ul>
{% endblock %}
