{% extends 'base.html.twig' %}

{% block body %}
    <h1>Squadsentities list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for squadsEntity in squadsEntities %}
            <tr>
                <td><a href="{{ path('squadsentity_show', { 'id': squadsEntity.id }) }}">{{ squadsEntity.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('squadsentity_show', { 'id': squadsEntity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('squadsentity_edit', { 'id': squadsEntity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('squadsentity_new') }}">Create a new squadsEntity</a>
        </li>
    </ul>
{% endblock %}
