<!DOCTYPE html>
<html>
    <head>
        <title>
            Export format ETC
        </title>
    </head>
    <body class="">
    {{ dump(liste) }}
    +++++++++++++++++++++++++++++++++<br>
    {% trans %}Player{% endtrans %} : {{ user.username }}<br>
    {% trans %}Faction{% endtrans %} : {{ liste.faction }}<br>
    {% trans %}Total Army points{% endtrans %} : {{ liste.TotalPoint }}<br>
    {% trans %}Total command points{% endtrans %} : {{ liste.AvailableCommandPoint }}<br>
    {% if( liste.valid() == false ) %}
        {% trans %}Unvalid liste{% endtrans %}
    {% else %}
        {% trans %}Valid list{% endtrans %}
    {% endif %}<br>
    +++++++++++++++++++++++++++++++++
    <br>
    {% for formation in liste.FormationsListe %}
        <br>
        -------------------------------------------------<br>
        {% trans %}Formation{% endtrans %} : {{ formation.formationModel }}<br>
        {% trans %}Faction{% endtrans %} : {{ formation.faction }}<br>

        getFormationModel

    {% endfor %}

    </body>
</html>
