{% extends 'base.html.twig' %}

{% block body %}
    <h1>Formationentities list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formationEntity in formationEntities %}
            <tr>
                <td><a href="{{ path('formationentity_show', { 'id': formationEntity.id }) }}">{{ formationEntity.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('formationentity_show', { 'id': formationEntity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('formationentity_edit', { 'id': formationEntity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('formationentity_new') }}">Create a new formationEntity</a>
        </li>
    </ul>
{% endblock %}
