<h1>Formationentity edit</h1>
{{ dump(edit_form) }}
<span id="formationEntityId" style="display: none" data-formationid="{{ edit_form.vars.value.id }}")></span>
{{ form_start(edit_form, {'attr': {'id': 'form_update_formation'}}) }}

        {{ form_errors(edit_form) }}
        {{ form_row(edit_form.faction) }}
        {{ form_row(edit_form.formationModel) }}
        {{ form_row(edit_form.subFaction) }}

        {{ form_rest(edit_form) }}

        <input class="btn btn-primary" type="submit" value="Edit" />
{{ form_end(edit_form) }}

