<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="squad">
            <div class="row">
                <div class="col-md-1">
                    {{ squad.type.name }}
                </div>
                <div class="col-md-8">
                    <h3>
                        {{ squad.name }}
                    </h3>
                </div>
                <div class="col-md-3">

                </div>
            </div>
            <div class="col-md-12">
                composition de l'esquade
            </div>
            {% set Requirements = squad.squadRequirements %}
            {% for Requirement in Requirements %}
                <div class="col-md-12">
                    {{ Requirement.model.name }} ( {{ Requirement.min }} - {{ Requirement.max }} )
                </div>
            {% endfor %}
            {% for Requirement in Requirements %}
                {% set model = Requirement.model %}
                {% include '@MainApp/Partial/_model.html.twig' %}
            {% endfor %}
        </div>
    </div>
    <div class="col-md-1"></div>
</div>