{% extends "@MainApp/base.html.twig" %}

{% block body %}
    {% set games = "Games Workshop Limited" %}
    {% set site = "WarListHelper" %}
<div>
    <h2>
        But de l'application
    </h2>
    Cette application est une aide à la création de listes d'armée, à l'organisation des tournoi ainsi qu'un espace de partage des listes pour la communauté de joueurs de Warhammer 40000.<br>
    Ce site ne se substitue pas au codex réalisé par la société {{ games }}.<br>

    <p>
        Pour utiliser le service, il est nécessaire de s'inscrire. L'inscription est gratuite.<br>
        Les informations contenues dans l'application sont issues de déposes de ses membres. Les webmasters ne garantissent ni la qualité de ces informations ni la correspondance avec les Codex (propriétés intellectuelles de {{ games }}).<br>
        Le codex reste obligatoire et fera fois en cas de réclamation/erreur sur la liste.
    </p>
    <br>
    <h2>Aider à la création de listes d'armées</h2>
    Héberger des listes pour les rendre visibles par la communauté de joueurs
    <ul>
        <li>
            Éditer les listes
        </li>
        <li>
            Imprimer / exporter / partager les listes
        </li>
        <li>
            Accéder aux listes des autres membres
        </li>
    </ul>
    <br>
    <h2>
        Licence
    </h2>
    <p>
        Toutes les listes crées sont mises à disposition selon les termes de la licence Creative Commons Attribution <br>
        La Propriété Intellectuelle reste celle de {{ games }}.
    </p>

    <p><span class="p-3 mb-2 bg-danger text-white">Ce site n'est ni officiel, ni autorisé ou approuvé par {{ games }}.</span> <br></p>
    <p>Il reste un site de fan fait pour les fan.<br>
        Les marques <a href="https://www.games-workshop.com/fr-BE/Copyrights-et-Marques-D%C3%A9pos%C3%A9es">suivantes</a> sont sous droit d'auteur comme le stipule {{ games }}.
    </p>
    <br>
    <h2>Règles de bienséance</h2>

<p>Il est interdit de déposer tout message et photographie à caractère pornographique, raciste, violent, à caractère commercial, contraire à la loi ou aux bonnes moeurs, incitant à commettre un délit ou pouvant nuire au {{ site }} ou à ses webmasters.<br>
Les membres s'engagent à respecter les droits des tiers et à ne pas utiliser texte, photographie ou tout autre élément susceptible de relever du droit d'auteur, du droit des marques ou du droit des personnes.<br>
Tout utilisateur du site s'engage à respecter l'image et la réputation du {{ site }} et ses webmasters, notamment en s'interdisant toute action visant à détourner des personnes du site ou à faire la promotion de services concurrents.<br>
Les membres s'engagent à ne déposer que des photos de figurines qu'ils ont pris eux-mêmes et à demander l'accord des tiers personnes pouvant apparaître sur les photos.<br>
Ils s'engagent en outre à ne pas tenter d'orienter les membres de ALN 40K vers des sites internet, ou de tenter de diffuser des virus informatiques ou tout élément nuisible par l'intermédiaire du site.<br>
Ils s'engagent en outre à ne pas tenter de copier manuellement ou via des actions automatiques les données du site.<br>
Tout comportement contraire aux conditions d'utilisation du {{ site }} donnera lieu à la suppression du compte de la personne, sans préavis et sans dédommagement possible.<br>
    <br></p>
    <H2>Vie privée</H2>
<p>Les webmasters protègent la vie privée de leurs membres en ne révélant jamais leur adresse e-mail sur le site.<br>
Conformément à la loi informatique et liberté du 6 janvier 1978, les membres ont un droit d'accès, de modification et de suppression des données personnelles qu'ils ont déposées sur le site. Pour exercer ce droit, il suffit d'utiliser les menus du site ou le formulaire de contact réservé aux membres.<br>
Les membres choisissent un mot de passe confidentiel lors de leur inscription, permettant d'accéder à leurs données personnelles sur ALN 40K. Il incombe à chacun de choisir un mot de passe suffisamment sûr pour se prémunir de toute tentative d'usurpation d'identité par un tiers mal intentionné. Les webmasters recommandent à leurs utilisateurs de choisir un mot de passe d'au moins 8 caractères contenant des lettres et des chiffres. Les webmasters ne pourront être tenus pour responsables d'un tel accès à des données personnelles causé par une sécurisation insuffisante de son compte par un membre.<br>
Les webmasters sont seuls à avoir accès aux informations déposées par leurs membres et ne les cèdent en aucun cas à des tiers.<br>
L'utilisateur accorde une licence gracieuse, non exclusive, mondiale et pour la durée des droits de propriété intellectuelle pour utiliser sur tous médias existants ou à venir, les informations qu'il aura déposées sur le site.<br>
    Les conditions d'utilisation du site peuvent faire l'objet de modifications sans préavis, compte tenu notamment de l'évolution technique du service.<br></p>


</div>
{% endblock %}