{% extends "@MainApp/base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            {% if liste == null %}
                La liste demandee n'existe pas.
            {% else %}
                {{ dump(liste) }}
                <h3>{{ liste.name }}</h3>
                <h4>{{ liste.totalPoint }} / {{ liste.pointsLimit }}</h4>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label>Points : </label><input type="number" class="" value="{{ liste.pointsLimit }}">
                    </div>
                    <div class="form-group">

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Reglementaire
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="artefactNumber">Artefact number : </label><SELECT id="artefactNumber" name="artefactNumber" size="1">
                            <OPTION>0
                            <OPTION>1
                            <OPTION>2
                            <OPTION>3
                        </SELECT>
                    </div>
                </form>
                Command point : <span id="command point">{{ liste.getCommandPoint }}</span>
                <div class="panel-group" id="accordion">
                    {% set formationNum = 1 %}
                    {% for formation in liste.formationsListe %}
                        <div class="panel panel-default">
                            <div class="panel-heading collapse-focus" data-focus="{{ formationNum }}">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                        {{ formation.formationModel.name }}
                                        {{ dump(formation.isValide) }}
                                    </a>
                                    <span id="resizeF{{formationNum}}" class="glyphicon glyphicon-resize-full"></span>
                                </h4>
                            </div>
                            <div id="collapseF{{ formationNum }}" class="panel-collapse collapse in" style="display: none;">
                                <div class="panel-body row">
                                    {% for squadEntity in formation.SquadsEntity %}
                                        <div class="col-lg-12 col-md-12">
                                            <div class="flex-one-row">
                                                {{ squadEntity.squadModel.name }}
                                                {{ squadEntity.totalPoint }} pts
                                            </div>
                                            <div class="card-container">
                                            {% for models in squadEntity.ModelsEntity %}

                                                    <div class="card">
                                                        <div class="card-block">
                                                                <img class="flex-one-row" src="{{ asset('img/profil.png') }}">
                                                                {{ models.getModelTemplate.name }}
                                                                {{ models.totalPoint }} pts
                                                                <ul>

                                                                    {% for weapon in models.weaponsEntity %}
                                                                        <li>
                                                                                {{ weapon.weaponModel.name }}

                                                                        </li>
                                                                    {% endfor %}

                                                                </ul>
                                                        </div>
                                                        <div class="card-footer">

                                                            <div class="icon pull-right">
                                                                <div class="editModel" data-modelid="{{ models.id }}" data-listid="{{ liste.id }}"><i class="fa fa-cog fa-fw fa-2x" aria-hidden="true"></i></div>
                                                                <div class="removeModel" data-modelid="{{ models.id }}" data-listid="{{ liste.id }}"><i class="fa fa-ban fa-2x" aria-hidden="true"></i></div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    {#{% set modelTemplate = models.getModelTemplate %}
                                                    <div class="dataModels" id="model{{ models.id }}">
                                                        <div class="row">
                                                            <div class="col-md-1"></div>
                                                            <div class="col-md-10">
                                                                <div class="model">
                                                                    <table class="table table-bordered row">
                                                                        <tr>
                                                                            <th class="col-md-4">
                                                                                Nom
                                                                            </th>
                                                                            <th class="col-md-1 text-center">
                                                                                Touche CaC
                                                                            </th>
                                                                            <th class="col-md-1 text-center">
                                                                                Touche Tir
                                                                            </th>
                                                                            <th class="col-md-1 text-center">
                                                                                Force
                                                                            </th>
                                                                            <th class="col-md-1 text-center">
                                                                                Endurance
                                                                            </th>
                                                                            <th class="col-md-1 text-center">
                                                                                PdV
                                                                            </th>
                                                                            <th class="col-md-1 text-center">
                                                                                Attaque
                                                                            </th>
                                                                            <th class="col-md-1 text-center">
                                                                                Commandement
                                                                            </th>
                                                                            <th class="col-md-1 text-center">
                                                                                Sauvegarde
                                                                            </th>
                                                                        </tr>
                                                                        {% for profil in models.getProfilEntity %}
                                                                            <tr>
                                                                                <td class="">
                                                                                    {{ modelTemplate.name }}
                                                                                </td>
                                                                                <td class="text-center">
                                                                                    {{ profil.BS }}
                                                                                </td>
                                                                                <td class="text-center">
                                                                                    {{ profil.WS }}
                                                                                </td>
                                                                                <td class="text-center">
                                                                                    {{ profil.strength }}
                                                                                </td>
                                                                                <td class="text-center">
                                                                                    {{ profil.toughness }}
                                                                                </td>
                                                                                <td class="text-center">
                                                                                    {{ profil.wound }}
                                                                                </td>
                                                                                <td class="text-center">
                                                                                    {{ profil.attack }}
                                                                                </td>
                                                                                <td class="text-center">
                                                                                    {{ profil.leadership }}
                                                                                </td>
                                                                                <td class="text-center">
                                                                                    {{ profil.save }}
                                                                                </td>
                                                                            </tr>
                                                                        {% endfor %}
                                                                    </table>

                                                                    {% set weapons = modelTemplate.weapons %}
                                                                    {% include "@MainApp/Partial/_weapon.html.twig"  %}

                                                                    {% set abilities = modelTemplate.abilities %}
                                                                    <table class="table table-bordered row">
                                                                        <th colspan="2"> <H3>Competence</H3></th>
                                                                        {% for ability in abilities %}
                                                                            <tr>
                                                                                <td class="col-md-2">
                                                                                    {{ ability.name }}
                                                                                </td>
                                                                                <td class="col-md-10">
                                                                                    {{ ability.description }}
                                                                                </td>
                                                                            </tr>
                                                                        {% endfor %}
                                                                    </table>

                                                                    {% set keywords = modelTemplate.keysWord %}
                                                                    <H3>Mots clefs</H3>
                                                                    {% for keyword in keywords %}
                                                                        {{ keyword.name }},
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                            <div class="col-md-1"></div>
                                                        </div>
                                                    </div>#}

                                            {% endfor %}
                                                {% if squadEntity.nbModels < squadEntity.squadModel.max %}
                                                {% for j in range (squadEntity.nbModels,squadEntity.squadModel.max -1) %}
                                                    <div class="card">
                                                        <a class="addModel list-group-item" data-listId="{{liste.id}}" data-squadId="{{ squadEntity.id }}">
                                                        <img src="{{ asset('img/add.png') }}"></a>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                    <div class="col-lg-12 col-md-12">
                                        <a class="addSquad" data-listId="{{liste.id}}" data-formationId = "{{ formation.id }}">add squad</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% set formationNum = formationNum +1 %}
                    {% endfor %}
                        <div>
                            <div class="panel panel-default">
                                <div id="addFormation" class="panel-heading addFormation" data-listid="{{liste.id}}">
                                    Add formation <span class="glyphicon glyphicon-plus glyphiconBigger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endif %}
        </div>

        <div class="col-md-1"></div>
    </div>

{% endblock %}