{% extends "@MainApp/base.html.twig" %}

{% block body %}
    {% if liste == null %}
        La liste demandee n'existe pas.
    {% else %}
        {% set squadTypeArray = SquadTypeService.getAllOrderByShowOrder() %}
        <div class="container_flex">
            <div class="item_flex_column">
                <div class="col-sm-10">
                    <h2><input class="inputWithoutBorder" id="listName" value="{{ liste.name }}"></h2>
                </div>
                <div class="col-sm-2">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Export
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><span class="exportETC" data-listId="{{ liste.id }}">Format ETC</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item_flex_column container_flex_row">
                <div class="item_list_information">
                    <h4>{{ liste.totalPoint }} / <input id="pointLimit" type="number" class="" data-listId="{{ liste.id }}" value="{{ liste.pointsLimit }}"></h4>
                </div>
                <div class="item_list_information">
                    <input id="reglementary" type="checkbox"> Reglementaire
                </div>
                <div class="item_list_information">
                    <label for="artefactNumber">Artefact number : </label><SELECT id="artefactNumber" data-listId="{{ liste.id }}" name="artefactNumber" size="1">

                        <OPTION {% if( liste.artefactNumber == 0) %} selected {% endif %}>0
                        <OPTION {% if( liste.artefactNumber == 1) %} selected {% endif %}>1
                        <OPTION {% if( liste.artefactNumber == 2) %} selected {% endif %}>2
                        <OPTION {% if( liste.artefactNumber == 3) %} selected {% endif %}>3
                    </SELECT>
                </div>
                <div class="item_list_information">
                    Command point : <span id="commandPointValue">{{ liste.getAvailableCommandPoint }}</span> / {{ liste.getCommandPoint }}
                </div>
            </div>
        </div>


        <div class="panel-group" id="accordion">
            {% set formationNum = 1 %}
            {% for formation in liste.formationsListe %}


                <div class="panel panel-default">
                    <div class="panel-heading collapse-focus" data-focus="{{ formationNum }}">
                        <span class="panel-title ">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                <div class="row">
                                    <div class="col-md-11">
                                        <h3 class="">{{ formation.formationModel.name }}</h3>
                                    </div>
                                    <div class="col-md-1">
                                        <span class="fa fa-close"></span>
                                    </div>
                                </div>
                                {% if( formation.isValide == false )%}
                                    <div class="alert alert-danger no-padding">
                                        <p>Formation non valide</p>
                                    </div>
                                {% endif %}
                                <div class="list-group list-group-horizontal">
                                    <div class="d-flex flex-row justify-content-between">
                                    {% for requirement in formation.formationModel.formationRequirements %}
                                        <span class="list-group-item"><img src="{{ asset( requirement.SquadType.Image) }}" width="17px" height="20px">{{ formation.getNbSquadByType(requirement.SquadType.id) }}( {{ requirement.min }}-{{ requirement.max }})</span>
                                    {% endfor %}
                                    </div>
                                </div>
                            </a>
                        </span>
                    </div>
                    <div id="collapseF{{ formationNum }}" class="panel-collapse collapse in" style="display: none;">
                        <div class="panel-body row">
                            <ul class="list-group">
                            {% for squadType in squadTypeArray %}
                                {% set squadListByType = FormationEntityService.getSquadByType(squadType, formation) %}
                                <li class="list-group-item list-group-item-secondary">
                                    <img src="{{ asset( squadType.Image) }}" width="17px" height="20px">{{ squadType.name }}
                                </li>
                                <li class="list-group-item list-group-item-light">
                                {% for squadEntity in squadListByType %}
                                    <div class="col-lg-12 col-md-12">
                                        <div class="flex-one-row collapseRow" data-row="collapseS{{ squadEntity.id }}">
                                            <span class="modelName">{{ squadEntity.squadModel.name }}</span> {{ squadEntity.totalPoint }} pts
                                        </div>
                                        <div id="collapseS{{ squadEntity.id }}" style="display: none;">
                                            <div class="card-container">
                                            {% for models in squadEntity.ModelsEntity %}

                                                <div class="card">
                                                    <div class="card-block">
                                                            <img class="flex-one-row" src="{{ asset('img/profil.png') }}">
                                                            {{ models.getModelTemplate.name }}
                                                            {{ models.totalPoint }} pts
                                                            <ul>

                                                                {% for weapon in models.weaponsEntity %}
                                                                    <li>
                                                                            {{ weapon.weaponModel.name }}

                                                                    </li>
                                                                {% endfor %}

                                                            </ul>
                                                    </div>
                                                    <div class="card-footer">

                                                        <div class="icon pull-right">
                                                            <div class="duplicateModel fa fa-clone" data-modelid="{{ models.id }}" data-url="{{ path('modelentity_duplicate') }}" data-listid="{{ liste.id }}"></div>
                                                            <div class="editModel fa fa-gear" data-modelid="{{ models.id }}" data-listid="{{ liste.id }}"></div>
                                                            <div class="removeModel fa fa-ban" data-modelid="{{ models.id }}" data-listid="{{ liste.id }}"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                            {% endfor %}
                                                {% if squadEntity.nbModels < squadEntity.squadModel.max %}
                                                    {% for j in range (squadEntity.nbModels,squadEntity.squadModel.max -1) %}
                                                        <div class="card">
                                                            <a class="addModel list-group-item" data-listId="{{liste.id}}" data-squadId="{{ squadEntity.id }}">
                                                            <img src="{{ asset('img/add.png') }}"></a>
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                </li>
                            {% endfor %}
                            </ul>
                            <div class="col-lg-12 col-md-12">
                                <a class="addSquad" data-listId="{{liste.id}}" data-formationId = "{{ formation.id }}">add squad<span class="fa fa-plus-square"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% set formationNum = formationNum +1 %}
            {% endfor %}
                <div>
                    <div class="panel panel-default">
                        <div id="addFormation" class="panel-heading addFormation" data-listid="{{liste.id}}">
                            <span class="fa fa-plus">
                            Add formation </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
{% endblock %}