<H3>Arme</H3>

<table class="table table-bordered" >
    <tr>
        <th>
            nom
        </th>
        <th>
            type
        </th>
        <th>
            portée
        </th>
        <th>
            force
        </th>
        <th>
            AP
        </th>
        <th>
            dommage
        </th>
        <th>
            règles additionelles
        </th>
    </tr>
    {% for weapon in weapons %}
        <tr>
           <td>
               {{ weapon.name }}
           </td>
           <td>
               {{ weapon.type }}
           </td>
           <td>
               {{ weapon.reach }}
           </td>
           <td>
               {{ weapon.strength }}
           </td>
           <td>
               {{ weapon.armorPenetration }}
           </td>
           <td>
               {{ weapon.dommage }}
           </td>
           <td>
               {{ weapon.rule }}
           </td>
        </tr>
    {% endfor %}
</table>